.itemwrapper{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif-font;
  padding: 26px 16px;
  /*border-top: 1px solid transparent;*/
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #eee; */
  /*border-radius: 16px;*/
  margin: 5vh;
  overflow: hidden;
  position: relative;
}

.postTitle{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.link{
  color: black;
}
.excerpt{
  color: rgba(0,0,0,.70);
  margin: 0;
  overflow: hidden;
  font-family: 'medium-content-serif-font', serif;
  font-weight: 600;
  text-overflow: ellipsis;
  margin: 4px 0 8px;
}

.readMore{
  color: salmon;
  text-decoration: underline;
  font-weight: bold;
}